DATABASE_URL_ASYNC=postgresql+asyncpg://postgres.ieubksumlsvsdsvqbalh:PASSWORD@aws-1-eu-central-1.pooler.supabase.com:5432/postgres?ssl=require
ALPACA_API_KEY=your_alpaca_key_id
ALPACA_SECRET_KEY=your_alpaca_secret_key
ALPACA_BASE_URL=https://paper-api.alpaca.markets
SYMBOL=SPY
LOOP_INTERVAL_SECONDS=60
SCORE_LONG_THRESHOLD=0.5
SCORE_SHORT_THRESHOLD=-0.5
POSITION_SIZE_USD=1000.0
